extends layout

block content
  .container
    .col.s2.offset-s5
      h1= title
      if message.length
        p There has been a problem: 
        p= message
      form(action="/login" method="post")
        div
          label Email:
          input(type="text" name="email" autofocus)
        div
          label Password:
          input(type="password" name="password")
        div
          input(type="submit" value="Log In")

