extends layout

block content
  h1= title
  if message.length
    p There has been a problem: 
    p= message
  form(action="/signup" method="post")
    div
      label Email:
      input(type="text" name="email" autofocus required)
    div
      label Password:
      input(type="password" name="password" required)
    div
      label Password, once more:
      input(type="password" name="confirm-password" required)
    div
      input(type="submit" value="Sign Up")

