extends layout

block content
  if message.length
    p= message
  if user.isAdmin
    hr
    a(href="/surveys/add") Add a survey
    hr
    h2 Survey Results!
    #survey
  else if user
    h2 Survey Time!
    #survey
  else
    h2 Better log in, bub.
