extends layout

block content
  if user.isAdmin
    a(href="/surveys/add") add a survey
    hr
    h2 Survey Results!
    #survey
  else if user
    h2 Survey Time!
    #survey
  else
    h2 Better log in, bub.
