body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  float: right;
}

#survey {
  margin-top: 30px;
}

.card-content ul li span.count {
  color: #ffd54f;
}